/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/style/home/jobs.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.jobs{
    margin: 60px 35px 50px 35px;
}


.jobs-table-section{
    border: solid;
    border-width: 0.1px;
    border-color:#A1A1AA;
    overflow-x:auto;
}


#jobs-data{
    background-color: #09090B;
    color: #FAFAFA;
    font-size: 14.5px;
    font-weight: 400;
}

.jobs-first{
    color: #FAFAFA;
    font-weight: 500;
    font-size: 35px;
    font-family: sans-serif;
}


#jobs-heading{
    background-color: #09090B;
    color: #A1A1AA;
    font-size: 14.5px;
    font-weight: 400;
}
.jobs-table{
    border: solid;
    border-width: 0.1px;
    border-color: #A1A1AA;
   
}
.job-link{
    color: #F97316;
}

.job-link:hover{
    text-decoration: underline;
}

.job-len{
    font-size: 13px;
    color: #A1A1AA;
}
.job-btn{
    font-size: 14.5px;
    color: #A1A1AA;
    font-weight: 600;
}

@media  (max-width: 576px) {
    .jobs{
        margin: 60px 0 50px 0;
    }
}

::-webkit-scrollbar {
    width: 16px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #555;
    
  }
  
  ::-webkit-scrollbar-thumb {
    
    background-color: #8a8989; 
   
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #979191; 
  }
  
  
  
  
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/style/navbar/navbar.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/

.login-button{
    display: flex;
    justify-content: center;
    background-color: #F97316;
    color: #18181B;
    font-size: 15px;
    font-weight: 400;
    width: 70px;
    
}

.navbar-dark{
    z-index: 10;
    -webkit-backdrop-filter:'blur(15px)';
            backdrop-filter:'blur(15px)';
}

.login-button:hover {
    background-color: #e16d1a;
    color: #18181B;
}

.bi-moon{
    font-size: 13px;
    padding: 10px 10px;
   cursor: pointer;
}
.bi-moon:hover{
    background-color: #54545f4c;
    
    border-radius: 7px;
}
.bi-sun{
    font-size: 13px;
    padding: 10px 10px;
   cursor: pointer;
}
.bi-sun:hover{
    background-color: #54545f4c;
    
    border-radius: 7px;
}

.navbar-toggler{
    border: none;
    font-size: 1rem;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.btn-close{
    font-size: 10px;
}

.btn-close:focus{
    box-shadow: none;
    outline: none;
}


.offcanvas{
    background-color: #09090B;
    color: #fff;
}

.nav-link{
    font-size: 14px;
    font-weight: 600;
    
}


.nav-link:hover{
    background-color: #54545f4c;
    padding-left: 1px;
    padding-right: 6px;
    border-radius: 7px;
}

.navbar-brand{
    font-size: x-large;
    padding-bottom: 10px;
}

.nav-third-section{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin: 2px 0;
}

@media  (max-width: 991px) {
    .nav-third-section{
        flex-direction: row-reverse;
        margin: 0 3px;
        gap: 60px;
    }
    .nav-link:hover{
        text-decoration: underline;
        background: none;
    }
   #nav-link-home{
  
    color: #F97316;
    
   }
   #nav-link-course{
   
    color: #F97316;
   }
   #nav-link-mock{
   
    color: #F97316;
   }
   #nav-link-resource{
   
    color: #F97316;
   }
   #nav-link-blogs{
   
    color: #F97316;
   }
   #nav-link-jobs{
  
    color: #F97316;
   }
   #nav-items-id{
    padding-top: 20px;
    margin-left: 15px;
    display: flex;
    gap: 20px;
   }
   #offcanvas-body-id{
    display: grid;
    justify-content: space-between;
   }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/style/footer/footer.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.footer {
    background-color: #171717;
    color: white;
  }

  .footer-title{
    font-family: sans-serif;
    font-size: x-large;
    font-weight: 500;
  }

  .footer-description{
    color: #737373;
    font-size: 14px;
  }

  .social-icon{
    font-size: 18px;
  }

  .store-heading{
    color: #737373;
    font-size: 18px;
  }

  .footer-link-title{
   
    color: #E5E5E5;
    font-size: 18.5px;
  }

  .footer-link{
    color: #D4D4D4;
    font-size: 15px;
  }

  .footer-link-list{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;
    row-gap: 20px;
  }
