/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/style/login/login.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/

.login-left{
    background-color: #F7FAFC;
    padding: 100px 0 0 60px;
}

.login-right{
    background-color: #FFFFFF;
    padding: 100px 0 0 60px;
}


.login-left-heading{
    color: #333333;
    font-weight: 700;
    font-size: 25px;

}

.login-left-subheading{
    color: #666666;
    font-size: 18.5px;
    letter-spacing: 0.6px;
    
}

.login-right-heading{
    color: #000000DE;
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}

.login-right-input-label{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}


.login-right-input-desc{
    font-size: 16px;
    font-weight: 700;
    color: #009AE0;
    cursor: pointer;
}

.back{
    cursor: pointer;
}

::placeholder {
    color: #d5dcd7;
    font-size: 17px;
}

.login-right-email-link{
    font-size: 14.5px;
    color: #009AE0;
    font-family: sans-serif;
    letter-spacing: 0.4px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.login-right-TC{
    color: #00000099;
    font-size: 14.5px;
}

.login-right-TC-link{

    color: #2AABE6;
    
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.secure-tag1{
    color: #ccd6df;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #f8fafb;
    width: 200px;
    padding: 13px 0;
    text-align: center;
}
.secure-tag2{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    background-color: #2AABE6;
    width: 200px;
    padding: 13px 0;
    text-align: center;
    cursor: pointer;
}

.login-right-input{
    padding: 10px 90px 10px 60px;
}

.login-right-input-email{
    padding: 10px 0 10px 10px;
    width: 346px;
}
.mobile-code{
    color: #333333;
    position: absolute;
    padding-top: 10px;
    padding-left: 12px;
}


.seperator{
   
    position: absolute;
    margin-left: 50px;
    height: 45px;
    width: 0.1px;
    background-color: #d5dcd7;
}
.login-right-input:focus{
    outline: none;
}

.otp-heading{
    font-size: 28px;
    font-weight: 700;
    color: #343A40;
}

.otp-subheading{
    color: #666666;
}

.otp-subheading-emailmobile{
    color: #343A40;
}
